# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear
/target

bid-service/bid-app/src/test/resources/pic
bid-service/bid-blockchain/src/test/resources/pic
bid-service/bid-blockchain/src/main/java/cn/teleinfo/bidadmin/blockchain/bifj/create/
bid-service/bid-soybean/src/main/java/cn/teleinfo/bidadmin/soybean/wxfront/test.java
