<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.soybean.mapper.GroupLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="groupLogResultMap" type="cn.teleinfo.bidadmin.soybean.entity.GroupLog">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="group_id" property="groupId"/>
        <result column="user_id" property="userId"/>
        <result column="event_type" property="eventType"/>
    </resultMap>


    <select id="selectGroupLogPage" resultMap="groupLogResultMap">
        select * from soybean_group_log where is_deleted = 0
    </select>

</mapper>
