<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.cms.mapper.SteponsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="steponsResultMap" type="cn.teleinfo.bidadmin.cms.entity.Stepons">
        <id column="ID" property="id"/>
        <result column="CATEGORY_ID" property="categoryId"/>
        <result column="CONTENT_ID" property="contentId"/>
        <result column="NAME" property="name"/>
        <result column="BID" property="bid"/>
        <result column="IP" property="ip"/>
        <result column="createTime" property="createTime"/>
    </resultMap>


    <select id="selectSteponsPage" resultMap="steponsResultMap">
        select * from cms_stepons where is_deleted = 0
    </select>

</mapper>
