<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.blockchain.mapper.BidDocumentAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="bidDocumentAuthResultMap" type="cn.teleinfo.bidadmin.blockchain.entity.BidDocumentAuth">
        <id column="ID" property="id"/>
        <result column="proofID" property="proofID"/>
        <result column="Type" property="type"/>
        <result column="PublicKey" property="publicKey"/>
        <result column="owner" property="owner"/>
    </resultMap>

    <select id="selectBidDocumentAuthPage" resultMap="bidDocumentAuthResultMap">
        select * from bid_document_auth where is_deleted = 0
    </select>

    <select id="findDocumentAuthByOwnerProofId" resultMap="bidDocumentAuthResultMap">
        select * from bid_document_auth
        <where>
            <if test="owner != null and owner != ''">
                owner=${owner}
            </if>
            <if test="proofID != null and proofID != ''">
                proofID=${proofID}
            </if>
        </where>
    </select>

    <insert id="saveDocumentAuth" parameterType="cn.teleinfo.bidadmin.blockchain.entity.BidDocumentAuth">
        INSERT INTO bid_document_auth(proofID, `Type`, PublicKey, owner)
        VALUES (#{proofID},#{Type},#{PublicKey},#{owner})
    </insert>

    <update id="updateDocumentAuth" parameterType="cn.teleinfo.bidadmin.blockchain.entity.BidDocumentAuth">
        UPDATE bid_document_auth
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != name and '' != name">
                PublicKey = #{PublicKey}
            </if>
            <if test="null != TYPE and '' != TYPE">
                `TYPE` = #{type}
            </if>
        </trim>
        WHERE proofID = #{proofID} and owner = #{owner} and id = #{id}
    </update>

    <insert id="saveBatchDocumentAuths" parameterType="list">
        insert into bid_document_auth(proofID, `Type`, PublicKey, owner)
        <foreach collection="list" item="item" open="values" separator=",">
            (#{item.proofID},#{item.type},#{item.PublicKey},#{item.owner})
        </foreach>
        ON duplicate KEY UPDATE
        `Type`=VALUES(`Type`),
        PublicKey=VALUES(PublicKey)
    </insert>
</mapper>
