<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.blockchain.mapper.CertificateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="certificateResultMap" type="cn.teleinfo.bidadmin.blockchain.entity.Certificate">
        <id column="id" property="id"/>
        <result column="proofId" property="proofId"/>
        <result column="owner" property="owner"/>
        <result column="issuer" property="issuer"/>
        <result column="ownerName" property="ownerName"/>
        <result column="ownerIDCard" property="ownerIDCard"/>
        <result column="IssuedTime" property="IssuedTime"/>
        <result column="Period" property="Period"/>
        <result column="IsEnable" property="IsEnable"/>
    </resultMap>


    <select id="selectCertificatePage" resultMap="certificateResultMap">
        select * from bid_certificate where is_deleted = 0
    </select>

</mapper>
