<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.blockchain.mapper.CompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="companyResultMap" type="cn.teleinfo.bidadmin.blockchain.entity.Company">
        <id column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="company_name" property="companyName"/>
        <result column="business_year" property="businessYear"/>
        <result column="company_person" property="companyPerson"/>
        <result column="industriy" property="industriy"/>
        <result column="work" property="work"/>
        <result column="companyUrl" property="companyUrl"/>
        <result column="country" property="country"/>
        <result column="region" property="region"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="business_license" property="businessLicense"/>
        <result column="number" property="number"/>
        <result column="business_date" property="businessDate"/>
        <result column="bid" property="bid"/>
        <result column="trust_name" property="trustName"/>
        <result column="website" property="website"/>
        <result column="documentUrl" property="documentUrl"/>
        <result column="serverUrl" property="serverUrl"/>
        <result column="email" property="email"/>
        <result column="description" property="description"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectCompanyPage" resultMap="companyResultMap">
        select * from bif_company where is_deleted = 0
    </select>

</mapper>
