<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.blockchain.mapper.DposCandidateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dposCandidateResultMap" type="cn.teleinfo.bidadmin.blockchain.entity.DposCandidate">
        <id column="ID" property="id"/>
        <result column="Owner" property="owner"/>
        <result column="VoteCount" property="voteCount"/>
        <result column="Active" property="active"/>
        <result column="Url" property="url"/>
        <result column="IP" property="ip"/>
        <result column="location" property="location"/>
        <result column="TotalBounty" property="totalBounty"/>
        <result column="ExtractedBounty" property="extractedBounty"/>
        <result column="LastExtractTime" property="lastExtractTime"/>
        <result column="Website" property="website"/>
        <result column="Name" property="name"/>
    </resultMap>

    <resultMap id="dposCandidateVOResultMap" type="cn.teleinfo.bidadmin.blockchain.vo.DposCandidateVO">
        <id column="ID" property="id"/>
        <result column="Owner" property="owner"/>
        <result column="ownerName" property="ownerName"/>
        <result column="balance" property="balance"/>
        <result column="VoteCount" property="voteCount"/>
        <result column="stake" property="stake"/>
        <result column="vote" property="vote"/>
        <result column="votePercent" property="votePercent"/>
        <result column="Active" property="active"/>
        <result column="Url" property="url"/>
        <result column="IP" property="ip"/>
        <result column="location" property="location"/>
        <result column="TotalBounty" property="totalBounty"/>
        <result column="ExtractedBounty" property="extractedBounty"/>
        <result column="LastExtractTime" property="lastExtractTime"/>
        <result column="Website" property="website"/>
        <result column="Name" property="name"/>
    </resultMap>


    <select id="selectDposCandidatePage" resultMap="dposCandidateVOResultMap">
        SELECT t1.*,	v.lastVoteCount AS vote from (SELECT
            d.*, c. NAME AS ownerName,
            c.balance AS balance,
            s.StakeCount AS stake,
            cv.voter as voter
        FROM
            bif_dpos_candidate d
        LEFT JOIN bid_document c ON d. OWNER = c.bid
        LEFT JOIN bif_dpos_stake s ON d. OWNER = s. OWNER
        LEFT JOIN bif_dpos_candition_voter cv on d. OWNER = cv.candition and cv.candition=cv.voter
        where 1=1
        <if test="active !=null">
           and d.active=${active}
        </if>
        )  t1
        LEFT JOIN  bif_dpos_voter v on t1.voter=v.Owner
        ORDER BY VoteCount desc
    </select>

    <select id="findCandidateByOwner" resultMap="dposCandidateResultMap">
        select * from bif_dpos_candidate
        <where>
            <if test="owner != null and owner != ''">
                owner=${owner}
            </if>
        </where>
    </select>

    <insert id="saveCandidate" parameterType="cn.teleinfo.bidadmin.blockchain.entity.DposCandidate">
        INSERT INTO bif_dpos_candidate(Owner, VoteCount, Active, Url, IP, location, TotalBounty, ExtractedBounty, LastExtractTime, Website, `Name`)
        VALUES (#{owner},#{voteCount},#{active},#{url},#{ip},#{location},#{totalBounty},#{extractedBounty},#{lastExtractTime},#{website},#{name})
    </insert>

    <update id="updateCandidate" parameterType="cn.teleinfo.bidadmin.blockchain.entity.DposCandidate">
        UPDATE bif_dpos_candidate
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != voteCount and '' != voteCount">
                VoteCount = #{voteCount}
            </if>
            <if test="null != active and '' != active">
                Active = #{active}
            </if>
            <if test="null != url and '' != url">
                Url = #{url}
            </if>
            <if test="null != ip and '' != ip">
                IP = #{ip}
            </if>
            <if test="null != location and '' != location">
                location = #{location}
            </if>
            <if test="null != totalBounty and '' != totalBounty">
                TotalBounty = #{totalBounty}
            </if>
            <if test="null != extractedBounty and '' != extractedBounty">
                ExtractedBounty = #{extractedBounty}
            </if>
            <if test="null != lastExtractTime and '' != lastExtractTime">
                LastExtractTime = #{lastExtractTime}
            </if>
            <if test="null != website and '' != website">
                Website = #{website}
            </if>
            <if test="null != name and '' != name">
                `Name` = #{name}
            </if>
        </trim>
        WHERE Owner = #{owner} and id = #{id}
    </update>

    <insert id="saveBatchCandidates" parameterType="list">
        insert into bif_dpos_candidate(Owner, VoteCount, Active, Url, IP, location, TotalBounty, ExtractedBounty, LastExtractTime, Website, `Name`)
        <foreach collection="list" item="item" open="values" separator=",">
            (#{item.owner},#{item.voteCount},#{item.active},#{item.url},#{item.ip},#{item.location},#{item.totalBounty},#{item.extractedBounty},#{item.lastExtractTime},#{item.website},#{item.name})
        </foreach>
        ON duplicate KEY UPDATE
        VoteCount=VALUES(VoteCount),
        Active=VALUES(Active),
        Url=VALUES(Url),
        IP=VALUES(IP),
        location=VALUES(location),
        TotalBounty=VALUES(TotalBounty),
        ExtractedBounty=VALUES(ExtractedBounty),
        LastExtractTime=VALUES(LastExtractTime),
        Website=VALUES(Website),
        `Name`=VALUES(`Name`)
    </insert>
</mapper>
