<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.blockchain.mapper.DposCanditionVoterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dposCanditionVoterResultMap" type="cn.teleinfo.bidadmin.blockchain.entity.DposCanditionVoter">
        <id column="id" property="id"/>
        <result column="candition" property="candition"/>
        <result column="voter" property="voter"/>
    </resultMap>

    <select id="selectDposCanditionVoterPage" resultMap="dposCanditionVoterResultMap">
        select * from bif_dpos_candition_voter where is_deleted = 0
    </select>

    <select id="findCanditionVoterByOwner" resultMap="dposCanditionVoterResultMap">
        select * from bif_dpos_candition_voter
        <where>
            <if test="candition != null and candition != ''">
                candition=${candition}
            </if>
            <if test="voter != null and voter != ''">
                voter=${voter}
            </if></where>
    </select>

    <insert id="saveCanditionVoter" parameterType="cn.teleinfo.bidadmin.blockchain.entity.DposCanditionVoter">
        INSERT INTO bif_dpos_candition_voter(candition, voter)
        VALUES (#{candition},#{voter})
    </insert>

    <insert id="saveBatchCanditionVoters" parameterType="list">
        insert into bif_dpos_candition_voter(candition, voter)
        <foreach collection="list" item="item" open="values" separator=",">
            (#{item.candition},#{item.voter})
        </foreach>
        ON duplicate KEY UPDATE
        candition=VALUES(candition),
        voter=VALUES(voter)
    </insert>
</mapper>
