<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.blockchain.mapper.DposVoterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dposVoterResultMap" type="cn.teleinfo.bidadmin.blockchain.entity.DposVoter">
        <id column="ID" property="id"/>
        <result column="owner" property="owner"/>
        <result column="isProxy" property="isProxy"/>
        <result column="proxyVoteCount" property="proxyVoteCount"/>
        <result column="proxy" property="proxy"/>
        <result column="lastVoteCount" property="lastVoteCount"/>
        <result column="voteTime" property="voteTime"/>
    </resultMap>

    <resultMap id="dposVoterWithStakeResultMap" type="cn.teleinfo.bidadmin.blockchain.vo.DposVoterVO">
        <id column="ID" property="id"/>
        <result column="owner" property="owner"/>
        <result column="isProxy" property="isProxy"/>
        <result column="proxyVoteCount" property="proxyVoteCount"/>
        <result column="proxy" property="proxy"/>
        <result column="lastVoteCount" property="lastVoteCount"/>
        <result column="voteTime" property="voteTime"/>
        <result column="stakeCount" property="stakeCount"/>
        <result column="stakeTime" property="stakeTime"/>
    </resultMap>


    <select id="selectDposVoterPage" resultMap="dposVoterWithStakeResultMap">
        select v.*,
        s.stakeCount,
        s.stakeTime
        from bif_dpos_voter v
        left join  bif_dpos_stake s on v.owner= s.owner
        left  join bif_dpos_candition_voter cv on v.owner=cv.voter
        where 0 = 0
        <!--<if test="dpos.owner!=null and dpos.owner!='' ">-->
            <!--and v.owner=${dpos.owner}-->
        <!--</if>-->
        <!--<if test="dpos.proxy!=null and dpos.proxy!='' ">-->
            <!--and v.proxy=${dpos.proxy}-->
        <!--</if>-->
        <if test="candition!=null and candition!=''">
            and cv.candition=${candition}
        </if>

    </select>

    <select id="findVoterByOwner" resultMap="dposVoterResultMap">
        select * from bif_dpos_voter
        <where>
            <if test="owner != null and owner != ''">
                owner=${owner}
            </if>
        </where>
    </select>

    <insert id="saveVoter" parameterType="cn.teleinfo.bidadmin.blockchain.entity.DposVoter">
        INSERT INTO bif_dpos_voter(Owner, isProxy, proxyVoteCount, proxy, lastVoteCount, voteTime)
        VALUES (#{owner},#{isProxy},#{proxyVoteCount},#{proxy},#{lastVoteCount},#{voteTime})
    </insert>

    <update id="updateVoter" parameterType="cn.teleinfo.bidadmin.blockchain.entity.DposVoter">
        UPDATE bif_dpos_voter
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != isProxy and '' != isProxy">
                isProxy = #{isProxy}
            </if>
            <if test="null != proxyVoteCount and '' != proxyVoteCount">
                proxyVoteCount = #{proxyVoteCount}
            </if>
            <if test="null != proxy and '' != proxy">
                proxy = #{proxy}
            </if>
            <if test="null != lastVoteCount and '' != lastVoteCount">
                lastVoteCount = #{lastVoteCount}
            </if>
            <if test="null != voteTime and '' != voteTime">
                voteTime = #{voteTime}
            </if>
        </trim>
        WHERE Owner = #{owner} and id = #{id}
    </update>

    <insert id="saveBatchVoters" parameterType="list">
        insert into bif_dpos_voter(Owner, isProxy, proxyVoteCount, proxy, lastVoteCount, voteTime)
        <foreach collection="list" item="item" open="values" separator=",">
            (#{item.owner},#{item.isProxy},#{item.proxyVoteCount},#{item.proxy},#{item.lastVoteCount},#{item.voteTime})
        </foreach>
        ON duplicate KEY UPDATE
        isProxy=VALUES(isProxy),
        proxyVoteCount=VALUES(proxyVoteCount),
        proxy=VALUES(proxy),
        lastVoteCount=VALUES(lastVoteCount),
        voteTime=VALUES(voteTime)
    </insert>
</mapper>
