<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.blockchain.mapper.EventsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="eventsResultMap" type="cn.teleinfo.bidadmin.blockchain.entity.Events">
        <id column="ID" property="id"/>
        <result column="transactionHash" property="transactionHash"/>
        <result column="status" property="status"/>
        <result column="transactionIndex" property="transactionIndex"/>
        <result column="blockHash" property="blockHash"/>
        <result column="blockNumber" property="blockNumber"/>
        <result column="cumulativeGasUsed" property="cumulativeGasUsed"/>
        <result column="gasUsed" property="gasUsed"/>
        <result column="contractAddress" property="contractAddress"/>
        <result column="root" property="root"/>
        <result column="txfrom" property="txfrom"/>
        <result column="txto" property="txto"/>
        <result column="events" property="events"/>
        <result column="logsBloom" property="logsBloom"/>
    </resultMap>


    <select id="selectEventsPage" resultMap="eventsResultMap">
        select * from bif_events where is_deleted = 0
    </select>

</mapper>
