<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teleinfo.bidadmin.blockchain.mapper.TranscationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="transcationsResultMap" type="cn.teleinfo.bidadmin.blockchain.entity.Transactions">
        <id column="id" property="id"/>
        <result column="hash" property="hash"/>
        <result column="nonce" property="nonce"/>
        <result column="blockHash" property="blockHash"/>
        <result column="blockNumber" property="blockNumber"/>
        <result column="transactionIndex" property="transactionIndex"/>
        <result column="txfrom" property="txfrom"/>
        <result column="txto" property="txto"/>
        <result column="txvalue" property="value"/>
        <result column="gasPrice" property="gasPrice"/>
        <result column="gas" property="gas"/>
        <result column="txinput" property="txinput"/>
        <result column="creates" property="creates"/>
        <result column="publicKey" property="publicKey"/>
        <result column="raw" property="raw"/>
        <result column="r" property="r"/>
        <result column="s" property="s"/>
        <result column="v" property="v"/>
        <result column="createDate" property="createDate"/>
    </resultMap>


    <select id="selectTranscationsPage" resultMap="transcationsResultMap">
        select * from bif_transcations where is_deleted = 0
    </select>

</mapper>
